:root {
	--primarycolor: #0D3A18;
	--secondarycolor: #A8EBB7;
	--tertiarycolor: #4C8577;
	--quaternarycolor: #A6ECE0;
	--navactivecolor: #31574d;
	--mainbackgroundcolor: #effcf2;
	--sectioncolor: #c6f8d2;
	--whitecolor: #fff;
	--border-radius: 0.3rem;
  }

/* Text Adjust: This line of code avoid the text width change when we roll our phone sideways
This statement tells the browser to always set the default font at 100% for Webkit and 
Microsoft browsers*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Applies box sizing to every single page on the page. 
This avoid BOX MODEL implementation differences between browsers.*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;	
}

.limited {
    max-width: 1280px; 
    margin: 0.1rem auto;
}

/*.column {
    padding: 0; margin: .3rem;
}

.banner-text {
	background-color: #e4f1f8;
}*/

/*.banner-text h1{
	margin: 0 0 0.2rem 0;
	text-align: center;
	font-size: 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: #0077b6;
	color:#0077b6;
}*/

/* header rules */
header div{
	display: grid;
	grid-template-columns: repeat(12, 1fr);	
	background-color: var(--primarycolor);
	border-radius: var(--border-radius);
	margin: 0.1rem;
}

header img{
	grid-column: 1/4;	
	grid-row: 1/3;	
	width: 100%;
	height: auto;
	padding: 0.1rem;
}


header h1 {	        		
	grid-row: 1/3;	
	grid-column: 4/11;
	padding-top: 2.5rem;
	padding-left: 1rem; 
	font-size: 1.4rem;
	height:fit-content;   
	margin: 0;
	color: var(--secondarycolor);
	font-weight: 700;
	text-align: left;
}


header button {
	grid-column: 11/13; 
	grid-row: 1/3;
	width: 80%;
	height: 90%;
	padding: 0;
	margin: 0;
	background-color: var(--primarycolor);
	border-width: 0;		
	color: var(--secondarycolor);
	font-weight: 700;
	font-size: 3.5rem;
	
}

header nav {
	grid-column: 1/13;
	grid-row: 3/4;
	background-color: var(--tertiarycolor);
	text-align: center;	
}

header #sectionDate {
	margin: 0;
    color: var(--secondarycolor); 
    font-weight: 300;    
    text-align: center;
	grid-column: 2/12;
	grid-row: 4/5;
	height: 25px;
	background-color: var(--primarycolor);
	margin: .4rem;
	padding-top: .2rem;
	border-width: .0001px;
	border-style: solid;
	border-color: var(--secondarycolor);
	border-radius: var(--border-radius);
}

nav ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul.open {
	display: block;
}

nav a {
	display: block;
	color: var(--secondarycolor);
	text-align: center;
	padding: 6px;
	text-decoration: none;
	font-size: 1rem;
	border-top: 1px solid;
}

nav li.active a {
	background-color: var(--navactivecolor);
}

nav a:hover {
	background-color: #caf0f8;
	color: var(--primarycolor);	
	border-color: var(--secondarycolor);
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* main rules */
main{	
	background-color: var(--mainbackgroundcolor);
}

main .hero{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

main .hero picture{	
	grid-column: 1/4;
    grid-row: 1/4;
	margin: 0.5rem;	
}

main .hero img{
	width: 100%;
	height: 100%;
	filter: blur(0em);
    transition: filter 1.5s;
	z-index: 0;
	border-radius: 0.3rem;
}

main .hero img[data-src]{
	filter: blur(0.5em);  
	  
}

main .hero h2{
	grid-column: 1/4;
    grid-row: 4/5;
	font-size: 1rem;
	text-align: center;
	color: var(--primarycolor);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

main .hero a{
	grid-column: 1/4;
    grid-row: 5/6;
	background-color: var(--primarycolor);
	text-decoration: none;
	text-align: center;	
	font-size: 0.9em;
	color: var(--secondarycolor);	
	margin-left: 4rem;
	margin-right: 4rem;
	padding: 5px 15px;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 0.1rem;	
	align-content: center;	
}

main #coastal-area, main #weather{
	background-color: var(--sectioncolor);
	text-align: center;	
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 1rem;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 0.1rem;	
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--primarycolor);
}

main #coastal-area h2{
	padding: 0.5rem;
}

main .ca-coastal-area{
	background-color: var(--mainbackgroundcolor);
	text-align: center;	
	margin: 0.5rem;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 0.1rem;	
	align-content: center;
}

main .ca-coastal-area img{
	width: 100%;
	padding: 0.5rem;
	
}

main .ca-coastal-area h3{
	color: var(--primarycolor);
}

main .ca-coastal-area p{
	padding: 0.5rem;
	text-align: left;
}

main #weather{
	margin-bottom: 1rem;
}

main #weather h2{
	margin: 0;
	padding-top: 0.5rem;
}

main #weather #currently{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	font-weight: 700;
}

main #weather #currently-desc{
	grid-column: 3/5;
	grid-row: 1/2;
	font-size: 0.8rem;
	margin-bottom: 0;
}

main #weather #temp{	
	font-size: 3rem;	
	font-weight: 700;
	height:0%;
	margin: 0;
	grid-column: 3/5;
	grid-row: 2/4;

}	

main #weather #degree-symbol{
	grid-column: 5/6;
	grid-row: 2/3;
	font-weight: 700;
	font-size: 1.5rem;
	height: 20px;
	margin: 0;
	padding-top: 0.4rem;
}

main #weather #degree-letter{
	grid-column: 5/6;
	grid-row: 3/4;
	font-weight: 700;
	font-size: 1rem;
	margin: 0;
	padding-top: 0.2rem;
}

main #weather #temp-desc{	
	font-size: 0.9rem;
	height: 1rem;	
	font-weight: 300;
	margin: 0;
	grid-column: 6/10;
	grid-row: 2/3;	
	padding-top: 0.5rem;
	text-align: left;
}

main #weather #humidity{
	font-size: 0.9rem;
	grid-column: 6/10;
	grid-row: 3/4;
	font-weight: 300;
	margin:0;	
	padding-top: 0.3rem;
	text-align: left;
}

main #weather #weather-icon{	
	margin: 0;
	width: 5rem;
	grid-column: 9/11;
	grid-row: 1/5;	
	padding-top: 1rem;
	margin-left: 0.7rem;
}

main #weather #forecast-5days{
	display: flex;
	align-items: center;
	justify-content:space-around;
}

main #weather .forecast-card{
	background-color: var(--mainbackgroundcolor);
	text-align: center;	
	margin: 0.4rem;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 0.1rem;	
	align-content: center;
	width: 3.3rem;
}

main #weather .day-of-week{
	font-weight: 700;
	margin: 0;
	padding-top: 0.2rem;
}

main #weather .max-temp{
	font-weight: 700;
	margin: 0;
	padding-top: 0rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	font-size: 0.8rem;
}


/* footer rules */
footer div{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primarycolor);	
	border-radius: var(--border-radius);
	margin: 0.1rem;
}

footer img{
	width: 25%;
	height: auto;
}

footer h1, footer h2{	   
	margin: 0;     		
	font-size: 1.3rem;	
	text-align: center;
	color: var(--secondarycolor);
}

footer h2 {		
	font-size: 0.8rem;
	font-weight: 300;
}

footer section {
    margin: 0;
    color: var(--secondarycolor); 
    font-weight: 700;    
    text-align: center;
	padding-top: 0.8rem;
	font-size: 0.8rem;
	
}

footer #social-icon-area{
	display: flex;
	flex-direction: row;
}

.social a img{
	width: 2.5rem;
	height: auto;
	padding-left: 0.5rem;	
}


#small { display: inline;}
#spotLight3 { display: none;} 	

/* Fresh Rules */ 
/*FORM*/
main h1{
	margin: 0;
	color: var(--primarycolor);
	text-align: center;
	padding: 0.5rem;
}

form {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form fieldset{
    margin: 0.5rem 0;
    border: 2px solid var(--primarycolor);
    border-radius: 10px;
	background-color: var(--secondarycolor);
    padding: .5rem;
	width: 100%
}


form legend {
    color: var(--primarycolor);
    margin: 0 1rem;
    padding: 0 .5rem;
	font-weight: 700;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--primarycolor);
    font-size: .8rem;
	font-weight: 700;
	
}

form label.top input, form label.top select, form label.top textarea, form #first-opt, .select-selected{
    display: block;
    font-size: 1rem;
    border: solid 2px var(--primarycolor);
    border-radius: 4px;
    padding: .75rem;
    color: var(--primarycolor);
    width: 100%;
    background-color: var(--mainbackgroundcolor);
}

form div label.sbs{
    display: block;
    padding: .75rem 0;
    color: var(--primarycolor);
	font-size: 0.9rem;
}

form input.submitBtn{
    border: none;
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    border-radius: 0.5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 0 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: var(--primarycolor) solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* Selector rules */


/*the container must be positioned relative:*/
.custom-select{
	position: relative;
}
  
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
  
.select-selected {
	background-color: var(--mainbackgroundcolor);
}
  
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 2rem;
	right: 3%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: var(--primarycolor) transparent transparent transparent;
}
  
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent var(--primarycolor) transparent;
	top: 2rem;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: var(--mainbackgroundcolor);
	border: 1px solid var(--primarycolor);
	border-radius: 3px;
	top: 110%;
	left: 0;
	right: 0;
	z-index: 99;
	padding: 0.5rem;
}
  
  /*hide the items when the select box is closed:*/
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }