/* Text Adjust: This line of code avoid the text width change when we roll our phone sideways
This statement tells the browser to always set the default font at 100% for Webkit and 
Microsoft browsers*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Applies box sizing to every single page on the page. 
This avoid BOX MODEL implementation differences between browsers.*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


.limited {
    max-width: 1140px; 
    margin: 0.1rem auto;
}

.column {
    padding: 0; margin: .3rem;
}

.banner-text {
	background-color: #e4f1f8;
}

.banner-text h1{
	margin: 0 0 0.2rem 0;
	text-align: center;
	font-size: 1rem;
	border-style: solid;
	border-width: 2px;
	border-color: #0077b6;
	color:#0077b6;
}
/* header rules */

header div{
	display: grid;
	grid: repeat(4,1fr)/1fr,repeat(11, 1fr);
	background-color: #0077b6;
}

header img{
	grid-column: 1/2;
	grid-row: 1/3;	
	width: 60px;
	height: 50px;
	margin: 0.4rem;
}

header h1, header h2 {
	margin: 0;
	color: #fff;
	font-weight: 700;
	grid-column: 2/9;
	text-align: left;	
}

header h1 {	        		
	grid-row: 1/2;	
	padding: 0.5rem 0 0 0; 
	font-size: 1.4rem;
	height:fit-content;   
}

header h2 {	
	grid-row: 2/3;	
	padding: .1rem 0 0 0; 
	font-size: 0.9rem;
	height:fit-content;
}

header button {
	grid-column: 12/13; 
	grid-row: 1/3;
	width: 45px;
	height: 45px;
	padding: 0;
	margin: .7rem 0 0 0;
	background-color: #0077b6;
	border-width: 0;		
	color: #fff;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;	
}

header nav {
	grid-column: 1/13;
	grid-row: 3/4;
	background-color: #023c5b;
	text-align: center;	
}

header #sectionDate {
	margin: 0;
    color: #fff; 
    font-weight: 300;    
    text-align: center;
	grid-column: 1/13;
	grid-row: 4/5;
	height: 25px;
	background-color: #018cd6;
	margin: .4rem;
	padding-top: .2rem;
	border-width: .0001px;
	border-style: solid;
	border-top-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #018cd6;
	border-right-color: #018cd6;
}

nav ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul.open {
	display: block;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	font-size: 1rem;
	border-top: 1px solid;
}

nav a:hover {
	background-color: #caf0f8;
	color: black;	
	border-color: #fff;
}

nav li.active a {
	background-color: rgb(59, 97, 117);
}

#facebook-icon {	
	grid-column: 9/10;
	grid-row: 1/3;
	margin: .9rem .1rem .1rem .1rem;
	width: 30px;
	height: auto;
}

#linkedin-icon {	
	grid-column: 10/11;
	grid-row: 1/3;
	margin: .9rem .1rem .1rem .1rem;
	width: 30px;
	height: auto;
}

.social a img{
	width: 30px;
	height: auto;	
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* main rules */

main{	
	background-color: #e4f1f8;
}

main > section > ul{
	background-color: #ceeeff;
	margin: 0;
	padding: 1.5rem 3.5rem;
}

main .hero img{
	width: 100%;
	height: 100%;
	filter: blur(0em);
    transition: filter 1.5s;
}

main .hero img[data-src]{
	filter: blur(0.5em);    
}

.hero, #event, #weather, #newRelease, #demographic{
    color: #0077b6;
    font-weight: 300;  
    text-align: center;
	height: 180px;
	background-color: #fff;
	margin: .4rem;
	border-width: .0001px;
	border-style: solid;
	border-color: #0077b6;
}

.hero{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);	
}

.hero picture{	
	grid-column: 1/4;
    grid-row: 1/4;
}

.hero picture img{	
	width: 100%;
	height: 100%;
	z-index: 0;	
}

.hero h1{
	grid-column: 1/4;
    grid-row: 1/2;
	font-size: 1.5em;
	text-align: left;
	margin-top: 0.5rem;
	padding-left: 0.5rem;
	color:#fff;
	font-style: italic;
	z-index: 1;
}

.hero a{
	grid-column: 1/3;
    grid-row: 3/4;
	background-color: #0077b6;
	text-decoration: none;
	text-align: center;	
	font-size: 0.9em;
	color: #fff;	
	margin: 1rem 4rem 1rem 0.5rem;
	padding: 5px 15px;
	border-radius: 0.3rem;
	border-style: solid;
	border-width: 0.1rem;		
}

#event{	
	display:grid;
	grid: repeat(3, auto)/1fr;
	text-align: center;
}

#event h2{	
	grid-row: 1/2;
	margin: 0;
	padding-top: 0.5rem;
}

#event h3{	
	grid-row: 2/3;	
	margin: 0;
}

#event p{	
	grid-row: 3/4;
	text-align: center;
	margin: 0;	
}

#weather {	
	text-align: center;
	margin-left: 3rem;
	margin-right: 3rem;
	padding: 0.3rem;
	height: 320px;
}

#weather .search{	
	grid-row: 1/2;
	width: 100%;
	display: flex;	
	align-items: center;
	justify-content: space-between;	
}

#weather .search input{
	border: 0;
	outline: 0;
	background:#caf0f8;
	color: #0E3458;
	padding: 1rem 1.5rem;
	height: 2.5rem;
	border-radius: 0.2rem;
	flex: 1;
	margin-right: 0.5rem;
}

#weather .search button{
	border: 0;
	outline: 0;
	background:#caf0f8;	
	padding-top: 0.2rem;
	height: 2.5rem;
	width: 3.5rem;
	cursor: pointer;
	border-radius: 0.2rem;	
}

#weather .search>button>img{	
	width: 1.5rem;	
}

#weather .weather-icon{	
	margin-top: 1.5rem;
	width: 3rem;
	height: auto;	
}

#weather h1{	
	font-size: 1.3rem;	
	font-weight: 700;
}

#weather h2{	
	font-size: 1rem;	
	font-weight: 700;
	margin-top: -1rem;
}

#weather .details{
	display: flex;
	align-items: center;
	justify-content:space-around;
	padding: 0 2rem;
	margin-top: 0.1rem;
}

#weather .col{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#weather .col img{
	width: 2rem;	
	align-items: center;
	text-align: center;
	margin-left: 0.7rem;
	margin-bottom: 0.5rem;
}

#weather .col p{
	margin:0;
	font-weight: 700;	
}

#weather .detail-font{
	font-size: 0.8rem;
	font-weight: 700;
	margin-top: 1rem;
	text-align: center;
}

#newRelease p{
	text-align: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#spotLights, #tourist-attractions{
	margin: 0;
    color: #0077b6; 	
    font-weight: 300;    
    text-align: center;	
	height: 400px;
	background-color: #caf0f8;
	margin: .4rem;
	padding-top: .2rem;
	border-width: .0001px;
	border-style: solid;
	border-color: #0077b6;	
}

#spotLight1, #spotLight2, #spotLight3{
	margin: 0;
    color: #0077b6; 
    font-weight: 300;    
    text-align: center;	
	height: 185px;
	background-color: white;
	margin: .4rem .4rem .4rem .4rem;
	padding-top: .2rem;
	border-width: .0001px;
	border-style: solid;
	border-color: white;	
	display:grid;
	grid-template-columns: repeat(4,auto);
	grid-template-rows: repeat(5,auto);
	text-align: center;
	justify-content: center;
}

#spotLight1 h2, #spotLight2 h2, #spotLight3 h2{	
	margin:0;
	grid-column: 1/5;
	grid-row: 1/2;		
}

#spotLight1 img, #spotLight2 img, #spotLight3 img{	
	margin:0;
	grid-column: 2/4;
	grid-row: 2/3;
	width: 5rem;
	height: auto;
}

#spotLight2 img{		
	width: 3rem;	
}

#spotLight3 img{		
	width: 4rem;	
}

#spotLight1 h4, #spotLight2 h4, #spotLight3 h4{	
	margin:0;	
	grid-column: 1/5;
	grid-row: 3/4;		
}

#spotLight1 p, #spotLight2 p, #spotLight3 p{
	grid-column: 1/5;
	grid-row: 4/5;
	border-style: solid;
	border-color: #0077b6;
	border-width: 0;		
	border-top-width: 2px;
	margin: 0.1rem;
	text-align: center;
}

#join{
	display: none;
}

main p{
	padding-left: .5rem;
	font-size: 1rem;
	text-align: left;
}

strong {
	font-weight: bold;
}

footer{
    background-color: #0077b6;
}

footer div{
	display: grid;
	grid: repeat(4, auto)/1fr;
	background-color: #0077b6;	
}

footer img{
	margin: 0;
	grid-column: 1/2;
	grid-row: 1/2;
	width: 100px;
	height: auto;
	margin: 1rem 8rem;
}

footer h1{	        		
	grid-row: 2/3;	
	font-size: 1.3rem;	
	text-align: center;
	color: white;
	font-style: italic;
}

footer h2 {	
	grid-row: 3/4;		
	font-size: 1rem;
	text-align: center;
	color: white;
	font-weight: 300;
}

footer section {
    margin: 0;
    color: #fff; 
    font-weight: 300;    
    text-align: center;
	border-width: .0001px;
	border-bottom: #0077b6;
	border-left: #0077b6;
	border-right: #0077b6;
	border-style: solid;
	padding-top: 0.8rem;
}

.daysElapsedSinceLastVisit{
	text-align: center;
	color: #0077b6;
	font-weight: 700;
}


#small { display: inline;}
#medium { display: none;}
#large { display: none;}
#spotLight3 { display: none;} 	

/*Discover*/
#tourist-attractions{
	height: 2400px;
	display: flex;
    flex-direction: column;    
    align-items: center;
}

.attraction{
    color: #0077b6; 
    font-weight: 300;    
    text-align: center;	
	width: 95%;
	height: 20%;
	background-color: white;
	margin: .4rem .4rem .4rem .4rem;
	border-width: .0001px;
	border-style: solid;
	border-color: #0077b6;	
	text-align: center;
	justify-content: top;
	display: flex;
    flex-direction: column;    
    align-items: center;
}

.attraction img{
	width: 100%;
	height: 60%;
	filter: blur(0em);
    transition: filter 1.5s;	
}

.attraction img[data-src]{
    filter: blur(0.5em);    
}

.attraction p{
	text-align: center;
	margin: 0;
}

.attraction h3{
	margin-top: 0.5rem;	
}

#demographic{
	height: 500px;
	padding: 0.5rem;
}

/*----------Join Page-------------*/

/*FORM*/

#joinUsTitle{
	grid-column: 2/12;
	color: #0077b6;
	text-align: center;
}
form {
	grid-column: 2/12;
}

form fieldset{
    margin: 2rem 0;
    border: 2px solid #0077b6;;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #0077b6;
    margin: 0 1rem;
    padding: 0 .5rem;
	font-weight: 700;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #00b4d8;
    font-size: .8rem;
	font-weight: 700;
}

form label.top input, form label.top select, form label.top textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 2px #0077b6;
    border-radius: 4px;
    padding: .75rem;
    color: #0077b6;
    width: 100%;
    max-width: 20rem;
    background-color: #ffffff;
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #0077b6;
}

form input.submitBtn{
    border: none;
    background-color: #0077b6;
    color: white;
    border-radius: 0.5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: #00b4d8 solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------Thank You Page-------------*/

#thankYouMessage{
	grid-column: 2/12;
	display: flex;
	flex-direction: column;	
	align-items: center;
	color:#0077b6;
}

/*------------Directory Page-------------*/
.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 0.5rem;
	font-weight: 300;	
	margin: 0.5rem;
	background-color: hsla(0, 0%, 100%, 0);
	border-style: hidden;
	width: 18%;
}

.menu button img {
	width: 100%;
	height: 100%;
}

article>section {
	padding: 0.5rem;
	background-color: #fff;
}

.gridView {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
}

.gridView section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
}

.gridView img {
	border: 1px solid #fff;
	box-shadow: 0 0 5px #0077b6;
	margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    max-height: 80%;
}

.gridView section > * {
	margin: 0.1rem;
}

.listView {
	display: flex;
	flex-direction: column;
}

.listView section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.listView section > * {
	margin: 0 1rem;
}

.listView section img {
	display: none; /* smaller viewports only */
}

.listView section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.listView section:nth-child(even) {
	background-color: #caf0f8;
}

article>section h3 {
	font-size: 1.5rem;
}

article>section p {
	font-weight: 600;
	font-size: smaller;
}

article>section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: #0077b6;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

main>div>h1 {
	margin: 0;
	text-align: center;
}


